@import url(../Assets/colors.css);

.banner{
    background-color: var(--primary-color);
    width: 100%;
    height: 683px;
    color: var(--secondary-text-color);
}
.navbar{
display: flex;
flex-direction: row;
}
.nav-nav{
    display: flex;
    flex-direction: row;
}
